.logo, .banner {
    border: 1px solid lightgray;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
}

.left, .mid, .right {
    border: 1px solid lightgray;
    height: 100vh;
}

.carousel {
    border: 1px solid lightgray;
}

.icon {
    display: flex;
}
.fa-trash-can, .fa-pen-to-square {
    color: #333333;
}
.fa-trash-can:hover, .fa-pen-to-square:hover {
    color: #007bff;
    transition: 200ms;
}