.header {
    height: 100px;
    display: flex;
}

.navbar {
    height: 50px;
}

.main {
    display: flex;
    height: 500px;
}

.carousel {
    height: 30%;
}

.list {
    height: 65%;
}

.main-element {
    margin-bottom: 24px;
}

.main-element:last-of-type {
    margin-bottom: 0;
}